# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 5
b = 5
print(a == b)
print(id(a))
print(id(b))

True
137204755300720
137204755300720

The variables are not only the same in value, but they are references to the same object, which confirms the same result of the id() function

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
isinstance(True, bool)
isinstance(True, int)

False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [3]:
a = 5
b = 1.5
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a**b)

6.5
3.5
7.5
3.3333333333333335
3.0
0.5
11.180339887498949

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
c = int(b)
d = False
e = int(d)
print(c)
print(e)

1
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
a = ""
b = str()
print('1' + a)
print('2' + b)

1
2

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
a = 'It\'s'
print(a)
b = r'It\'s'
print(b)

It's
It\'s

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = "Semytskyi"
my_sur = f"My surname is {surname}"
print(my_sur)

My surname is Semytskyi

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
my_dog = 'My dog is crazy.'
my_dog_split = my_dog.lower()[:-1].split(" ")
print(my_dog_split)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
first_list = [1,2,3,4]
second_list = list((1,2,3,4,5,6,7))
print(len(first_list))

4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
first_list = list((1,2,3,4))
second_list = list((3,2,1))
second_list.append(first_list)
print(second_list)

[3, 2, 1, [1, 2, 3, 4]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
first_list = [1,2,3,4]
second_list = [1,2,3,4]
third_list = [first_list, second_list]
print(third_list[-1][0])

1

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
first_list = [1, 1.5, True, [1,2,3], 'aaa', 2, 'bbb', False, [3,2,1], ['a','b','c']]
second_list = first_list[2:-2]
print(second_list)

[True, [1, 2, 3], 'aaa', 2, 'bbb', False]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
my_tuple = (1,)
print(my_tuple)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

similarities: both are a kind of sequence, order is preserved, elements are repeated. differences: the list is variable, the tuple is unchanged, the creation syntax is different. usage: tuple - to store elements of one type, list - to store elements of different types, tuple is faster than list

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
my_tuple = (1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,2.1,2.2)
sliced_tuple = my_tuple[::-2]
print(sliced_tuple)

(2.2, 1.9, 1.7, 1.5, 1.3, 1.1)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
print(my_set)

{1, 2, 3}

sets is a mutable data type

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

because sets store only unique values

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
first_set = {1,2,3,4,5}
second_set = {4,5,6,7}
union_set = first_set.union(second_set)
differece_set = first_set.difference(second_set)
symmetric_difference_set = first_set.symmetric_difference(second_set)
intesection_set = first_set.intersection(second_set)
print(union_set)
print(differece_set)
print(symmetric_difference_set)
print(intesection_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{1, 2, 3, 6, 7}
{4, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
my_dict = dict()
my_dict.update({1: 'a'})
my_dict.update({'a': 'b'})
my_dict.update({1.2: 'a'})
my_dict.update({True: 'a'})
print(my_dict)

{1: 'a', 'a': 'b', 1.2: 'a'}

can't because the key must have an immutable unique hash, which is not in the list, so can't be used

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
my_dict = {1: {'a': {True: 'aaa', False: 'bbbb'}}, 2: "cat"}
print(my_dict.get(1).get('a').get(False))

bbbb

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.