# I. Оператори порівняння та логічні оператори. Умови.

1. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [ ]:
my_fav_num = 7
if my_fav_num % 2 == 0:
  my_fav_num *= 2
else:
  my_fav_num = my_fav_num * 3 + 1
print(my_fav_num)

22

2. Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [ ]:
my_list = list((1,2,3))
if not my_list:
  my_list.append(1)
print(my_list)

[1, 2, 3]

3. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [ ]:
my_name = 'Oleksandr'
my_name_lower = my_name.lower()
if 'a' in my_name_lower or 'i' in my_name_lower:
  print("A or I is in the name")
if 'o' in my_name_lower and 'n' in my_name_lower:
  print("O and N is in the name")
elif 'n' in my_name_lower:
  print("Only N is in the name")
else:
  print("There is no N in the name, but there might be O")

A or I is in the name
There is no N in the name, but there might be O

# II. Comprehensions.

4. Створіть список, використовуючи if (не if-else), range та comprehension.

In [ ]:
my_list = [i for i in range(20) if i % 2 == 0]
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

5. Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [1]:
my_dict = {i: chr(i) if i % 2 == 0 else "idk" for i in range(1, 15)}
print(my_dict)

{1: 'idk', 2: '\x02', 3: 'idk', 4: '\x04', 5: 'idk', 6: '\x06', 7: 'idk', 8: '\x08', 9: 'idk', 10: '\n', 11: 'idk', 12: '\x0c', 13: 'idk', 14: '\x0e'}

comprehensions should be used in those cases when the record will be small and readable, if it will be large, difficult to read, with many conditions, it is better to avoid comprehensions

6. Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [ ]:
my_string_list = ['hello', 'i', 'dont', 'care']
new_list = [s[:3].upper() for s in my_string_list]
print(new_list)

['HEL', 'I', 'DON', 'CAR']

# III. Цикли.

7. Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [ ]:
i = 0
while i < 10:
  print("python")
  i += 1

python
python
python
python
python
python
python
python
python
python

8. Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [ ]:
for i in range(21):
  if i % 2 == 1:
    print(i)

1
3
5
7
9
11
13
15
17
19

9. Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [ ]:
my_list = [True, False, False, True]
my_new_list = list()
for i in range(len(my_list)):
  my_new_list.append((i, my_list[i]))
print(my_new_list)

[(0, True), (1, False), (2, False), (3, True)]

10. Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [ ]:
my_books = {'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13, 'Clean code': 20}
for book in my_books:
    my_books[book] += 5
print(my_books)

{'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18, 'Clean code': 25}

11. Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [ ]:
n = 7
for i in range(1, n + 1):
    print("#" * i)

#
##
###
####
#####
######
#######

12. Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [ ]:
import random

number = random.randint(1, 100)
print('Try to gues the number from 1 to 100')
gues = int(input('Enter a number '))
count = 1
while gues != number:
  if gues > number:
    print("Less")
  else:
    print("Greater")
  gues = int(input('Enter a number '))
  count += 1
print(f'You won in {count} tries')

Try to gues the number from 1 to 100
Enter a number 5
Greater
Enter a number
Enter a number 90
Less
Enter a number
Enter a number 50
Less
Enter a number
Enter a number 33
Greater
Enter a number
Enter a number 40
Less
Enter a number
Enter a number 37
Greater
Enter a number
Enter a number 38
Greater
Enter a number
Enter a number 39
You won in 8 tries

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.